.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #006E74;
  color: white;
  height: 40px;
}
.mat-drawer{
  background-color: #006E74;
  color: white;
}

.mat-drawer {
  width: 200px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: crover;
}