mat-form-field {
  width: 100%;
}

mat-radio-button{
  color:  #006E74;
}

.candidateheader{
  justify-content: center;
}
.btngrp{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
mat-icon{
  margin-left: 40%;
}
.example-spacer {
  flex: 1 1 auto;
}


