h2 {
    padding-top: 1%;
    text-align: center;
    color: #006E74;
  }
  .modal-container{
    padding:10px;
  }
  form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    width:auto;
  }
  
  .btngrp {
    justify-content: center;
    display: flex;
    margin: 0 2% 0;
  }
  #btn {
    background-color: #006E74;
    color: white;
    margin: 0 2% 2%;
  }
  .mdc-data-table__header-row {
    height: 35px;
    background-color: #006E74;
    text-align: center;
  
    .mdc-data-table__header-cell {
      color: white;
      /* font-size: 12px; */
    }
  }
  mat-paginator{
    font-size: 15px;
  }
  .mdc-data-table__row {
    height: 30px;
    background-color: #f2f7f8;
  }
  .table-container {
    display: block;
    width: 100%;
   
  }
  mat-label{
     font-size: 14px;
  }
  mat-icon{
    margin-top: 10px;
  }
  .mat-column-soName,
  .mat-column-candidateName,
  .mat-column-status,
  .mat-column-actions {
    border: 0.2px solid currentColor;
    /* border-bottom: 0.2px solid currentColor; */
  }
  ::ng-deep.mat-sort-header-arrow {
    opacity: 1 !important;
    color: white !important;
    size: 12px;
  }
  
  .center{
    border:2px solid #535050;
  }
  
  
  